html, body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: inherit;
  }
  
  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: -4px;
    right: 5px;
  
    color: transparent;
    text-shadow: 0 0 4px white;
  }
  
  .menu-button {
    background-color: #34495e;
    color: white;
    padding: 15px 40px;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 200px;
    text-align: center;
}
